{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "prettier",
    "prettier/react"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".ts",
          ".jsx"
        ]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "tabWidth": 4,
        "useTabs": false,
        "semi": false,
        "singleQuote": true,
        "trailingComma": "all",
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "arrowParens": "avoid"
      }
    ]
  },
  "plugins": [
    "prettier"
  ]
}
