@import "../styles/variables";

.Menu {
  display: flex;
  align-items: stretch;
  background-color: $primary-color;
  height: 50px;
  @include inner;
  margin: 0;

  &__brand {
    font-size: $base-size*5;
    display: flex;
    align-items: center;
    color: white;
    text-transform: uppercase;
    margin-right: $base-size*20;
  }

  &__items {
    display: flex;
    align-items: stretch;
    list-style: none;
  }

  &__item {
    margin: 0 $base-size*3;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    box-shadow: none;
    transition: all .2s ease-in-out;
    border: 0;
    background: transparent;
    cursor: pointer;
    opacity: .8;
    font-size: $base-size * 4;
    outline: none;

    &:hover {
      opacity: 1;
    }

    i {
      margin-right: $base-size;
    }

    &_active {
      box-shadow: inset 0px -2px 0px 0px $success-dark;
    }
  }
}
