<div class="movies-list container">
    <div class="movies-list__filter row">
        <div class="col-sm-12">
            <button ng-click="movieList.getThisYearMovies()"
                    class="button button_primary">
                {{ movieList.thisYear }}
            </button>
            <button ng-click="movieList.getThisMonthMovies()"
                    class="button button_primary">
                {{ movieList.thisMonth }}
            </button>

            <button ng-if="movieList.activateFilters"
                    ng-click="movieList.resetFilters()"
                    class="button button_danger">
                <i class="mi mi-clear"></i>
                Сбросить
            </button>
        </div>
    </div>

    <movie-item ng-repeat="item in movieList.data"
                item="item"
                class="col-sm-3">
    </movie-item>

    <div ng-if="!movieList.data.length"
         class="col-xs-12">
        <div class="movies-list__filter_empty">
            <h4>Вууупс, кажется в это время фильмы не выходят</h4>
        </div>
    </div>
</div>
