@import '../styles/variables';
@import '../MovieCard/style';
@import '../../Containers/MoviePage/style';
@import '../../Containers/HeroPage/style';
@import '../../Containers/GameList/style';
@import '../GameCard/style';

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: $base-size * 4;
    background-color: $base-color;
    margin: 0;
    padding: 0;
}

menu,
ul {
    margin: 0;
    padding: 0;
}

.container {
    @media (min-width: 768px) {
        padding: 0 16px;
    }
}
