@import '../styles/variables';

.Movie-item {
    display: block;
    padding: 0;
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
    background-color: #fff;
    border-radius: 4px;

    &__poster {
        overflow: hidden;
        display: block;
        background-color: rgba(0, 0, 0, 0.05);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 32px 32px;
        border-radius: 4px 4px 0 0;
        z-index: 1;
        text-decoration: none;
        position: relative;
        height: 0;
        width: 100%;
        padding-bottom: 150%;

        img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            border-radius: inherit;
            -o-object-fit: cover;
            object-fit: cover;
            z-index: 1;
        }
    }

    &__title {
        padding: 0 20px;
        color: #575962;
        font-weight: 500;
        height: 50px;
        line-height: 50px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        border-top: 1px solid #ebedf2;
    }

    &__type {
        position: absolute;
        left: $base-size * 2;
        top: $base-size * 2;
        background: #eaeaea;
        font-size: 0.8rem;
        line-height: 20px;
        min-height: 20px;
        min-width: 20px;
        vertical-align: middle;
        text-align: center;
        display: inline-block;
        letter-spacing: 0.6px;
        padding: 1px 10px;
        border-radius: 0.75rem;
        color: #fff;
        z-index: 2;

        &_movie {
            background-color: #716aca;
        }

        &_serial {
            background-color: #f4516c;
        }

        &_animation {
            background-color: #34bfa3;
        }
    }

    &__date-realise {
        color: white;
        position: absolute;
        right: $base-size * 2;
        top: $base-size * 2;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: $base-size;
        white-space: nowrap;
        padding: $base-size $base-size * 2;
        font-size: 12px;
        pointer-events: none;
        z-index: 2;
    }
}
