//Colors
$base-color: #fafafa;

$primary-color: #07c25f!important;
$primary-dark: #069d4d;
$primary-darker: #047439;
$primary-light: #39ce7f;
$primary-lighter: #cdf3df;

$complete: #0084ff!important;
$complete-dark: #006bcf;
$complete-darker: #004f99;
$complete-light: #339dff;
$complete-lighter: #cce6ff;

$success: #1dbb99!important;
$success-dark: #17977c;
$success-darker: #11705c;
$success-light: #4ac9ad;
$success-lighter: #d2f1eb;

$info: #1f3953!important;
$info-dark: #192e43;
$info-darker: #132232;
$info-light: #4c6175;
$info-lighter: #d2d7dd;

$danger: #f94816!important;
$danger-dark: #ca3a12;
$danger-darker: #952b0d;
$danger-light: #fa6d45;
$danger-lighter: #fedad0;

$warning: #f7cf5f!important;
$warning-dark: #c8a84d;
$warning-darker: #947c39;
$warning-light: #f9d97f;
$warning-lighter: #fdf5df;

$menu-dark: #27272a;
$menu: #323237;
$menu-light: #85858e;

//Sizes
$base-size: 4px;

@mixin inner {
  padding-left: ($base-size*4);
  padding-right: ($base-size*4);
}
