.MoviesList {
  &__filter {
    margin-bottom: 30px;

    &_active {
      button {
        background-color: #5867dd;
        box-shadow: 0 5px 10px 2px rgba(88,103,221,0.19) !important;
        border: 1px solid #5867dd;
        color: #fff;
      }
    }

    button {
      margin-right: 20px;
    }
  }

  &__more {
    width: 100%;
    text-align: center;
    margin: 20px 0 50px;
  }
}
