@import "variables";

.button {
  display: inline-block;
  font-weight: 300;
  cursor: pointer;
  height: $base-size * 9;
  line-height: $base-size * 9;
  font-size: 16px;
  padding: 0 16px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 0;
  border-radius: $base-size;
  transition: background-color 0.1s linear 0s;
  outline: none;

  & + & {
    margin-left: 8px;
  }

  &_primary {
    background-color: $primary-light;
    color: white;

    &:hover {
      background-color: $primary-dark;
    }

    &:active,
    &-active {
      background-color: $primary-darker;
    }
  }
}