@import '../styles/variables';

.Game {
    display: block;
    padding: 0;
    background: white;
    position: relative;
    border-radius: $base-size $base-size $base-size/2 $base-size/2;
    margin-bottom: 20px;
    border: 1px solid mix(#fafafa, black, 90%);
    width: 100%;
    overflow: hidden;

    &__title {
        padding: $base-size * 3 $base-size * 4;
        font-size: 14px;
        line-height: $base-size * 7;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-bottom: 1px solid #e6e6e6;
    }

    &__realise {
        padding: $base-size * 3 $base-size * 4 $base-size;
        font-size: 12px;
        opacity: 0.4;
    }

    &__platforms {
        padding: $base-size $base-size * 4 $base-size * 3;
        font-size: 12px;
        display: flex;
        overflow-x: auto;
    }

    &__platform {
        background-color: $complete-lighter;
        border-radius: $base-size;
        white-space: nowrap;
        padding: $base-size $base-size * 2;
        margin-right: $base-size * 2;
    }
}
