@import "../../UI/styles/variables";
@import "../../Containers/Movies/MovieItem/style.scss";
@import "../../Containers/Movies/MoviePage/style.scss";
@import "../../Containers/Hero/HeroPage/style.scss";
@import "../../Containers/Games/GameList/style.scss";
@import "../../Containers/Games/GameItem/style.scss";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $base-size*4;
  background-color: $base-color;
  margin: 0;
  padding: 0;
}

menu, ul {
  margin: 0;
  padding: 0;
}
