@import '../../../../Components/styles/variables';

.Movie-item {
  display: block;
  padding: 0;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
  text-decoration: none;

  &:hover {
    .movie-item__poster {
      opacity: .85;
    }
  }

  &__poster {
    border-radius: $base-size*2;
    overflow: hidden;
    img {
      width: 100%;
    }

    @media (min-width: 768px) {
      height: 200px;
    }

    @media (min-width: 992px) {
      height: 290px;
    }

    @media (min-width: 1200px) {
      height: 330px;
    }
  }

  &__title {
    display: block;
    cursor: pointer;
    color: $menu-dark;
    background-color: transparent;
    padding: $base-size 0 $base-size * 3 0;
    font-size: 14px;
    line-height: $base-size * 7;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: background-color 0.2s ease;
  }

  &__type {
    color: white;
    position: absolute;
    left: $base-size * 2;
    top: $base-size * 2;
    background-color: $primary-light;
    border-radius: $base-size;
    white-space: nowrap;
    padding: $base-size $base-size*2;
    font-size: 12px;
    pointer-events: none;
    text-transform: capitalize;

    &_movie {
      background-color: $danger-light;
    }

    &_serial {
      background-color: $complete-light;
    }

    &_animation {
      background-color: $warning;
    }
  }

  &__date-realise {
    color: white;
    position: absolute;
    right: $base-size * 2;
    top: $base-size * 2;
    background-color: rgba(0, 0, 0, .3);
    border-radius: $base-size;
    white-space: nowrap;
    padding: $base-size $base-size*2;
    font-size: 12px;
    pointer-events: none;
  }
}
